.profile-picture{
    width: 350px;
    height: auto;
    align-items: center;
}

.short-description{
    line-height: 2rem;
    font-size: larger;
    font-family:'Times New Roman';
    font-weight: lighter;
}
.homepage-text{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem 1rem;
}

.homepage{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 5rem;
    font-weight: lighter;
    line-height: 2rem;
}
.title{
    font-size: larger;
}

.resume{
    text-decoration: none;
    color:  #3a3a3a;
    font-size: larger;
    border-radius: 2px;
    padding: 10px;
    border: none;
    background: linear-gradient(109.6deg, #c3c1c1 11.2%, #959595 91.1%);
    margin-right: 1rem;
}

.resume:hover{
    background: linear-gradient(109.6deg, #858585 11.2%, #dedbd8 91.1%);
    cursor: pointer;
}

.home-header{
    margin-top: 3rem;
}

@media (min-width: 800px) {
    .profile-picture{
        margin-top: 5rem;
    }
    .homepage{
        flex-direction: row;
        margin-top: 5rem;
    }
}