.profile-picture{
    width: 350px;
    height: auto;
    align-items: center;
    margin: 1rem;
}

.homepage-text{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:2rem 1rem;
}

.homepage{
    display: flex;
    flex-direction: column;
    color: rgba(58,58,58,255);
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 5rem;
}

.resume{
    text-decoration: none;
    color:  #3a3a3a;
    font-size: larger;
    border-radius: 2px;
    padding: 10px;
    border: none;
    background: linear-gradient(109.6deg, #c3c1c1 11.2%, #e5e1de 91.1%);
    margin-right: 1rem;
}

.resume:hover{
    background: linear-gradient(109.6deg, #858585 11.2%, #dedbd8 91.1%);
    cursor: pointer;
}

.home-header{
    margin-top: 5rem;
}

@media (min-width: 800px) {
    .homepage{
        flex-direction: row;
        margin-top: 5rem;
    }
}