body{
  background-image:
  url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
  position: relative;
  height: 100vh;
  position: relative;
}

@media (min-width: 700px) {
  
}

@media (min-width: 900px) {
  
}

@media (min-width: 1200px) {
  
} 


