.project-cover{
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
}

.projects-container{
  display: grid;
  grid-template-columns: 100%;
}

.project-item-card {
  text-align: center;
  line-height: 2rem;
  font-size: larger;
  color: #cfcfcf;
  font-family:  'Times New Roman';
  font-weight: lighter;
  font-style:unset;
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);  
  filter: drop-shadow(0 30px 10px rgba(173, 166, 166, 0.125));
  display: grid;
  grid-template-columns: 100%;
  margin:2em;
  border-radius: 5px;
 
}

@media (min-width: 1200px) {

  .projects-container{
      grid-template-columns:33.33% 33.33% 33.33%;
  }
} 



