.project-cover{
    width:400px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
}

.projects-container{
  display: grid;
  grid-template-columns: 100%;
}

.project-item-card {
    width: 90%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(233,230,229,255);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 10px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 1rem;
    max-height: 500px;
    overflow: scroll;
 
}
.project-description{
    line-height: 1.5rem;
    color: #353536;
    font-size: large;
    text-align: center;
}
.icon{
  margin: 1rem .1rem;
  padding: 0rem 1rem;
  width: 1.7rem;
  height: auto;
  color: rgba(58,58,58,255)
}

.icon:hover{
  width: 1.8rem;
  height: auto;
}


.color{
    color: #353536;
}

@media (min-width: 900px) {
  .projects-container{
      grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1200px) {
  .projects-container{
      grid-template-columns:33.33% 33.33% 33.33%;
  }
} 



