.each-element{
    text-align: center;
    margin-top: 4rem;
    font-size: small;
}

.skill-title{
    margin: 2rem;
}

.skill-title p{
    size: 5rem;
}

.skills{
    text-align: center;
    line-height: 2rem;
    font-size: larger;
    color: #cfcfcf;
    font-family:  'Times New Roman';
    font-weight: lighter;
    font-style:unset;
    padding: 3rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);  
    filter: drop-shadow(0 30px 10px rgba(173, 166, 166, 0.125));
    display: grid;
    grid-template-columns: 100%;
    margin:2em;
    border-radius: 5px;
}

@media (min-width: 800px) {
    .skills{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
} 